<!--The content below is only a placeholder and can be replaced.-->

<!-- nav -->
 <!-- nav -->
 <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="navbar" >
  <div class="container">
       <!-- logo @media width 991px -->  
       <div class="media-min mr-auto ml-3 align-items-center">

               <img src="./ian-dooley-347962-1240x826.jpg" width="58" height="58" class="mr-3 rounded-circle img-logo">
   
                   <div class="media-body text-left">
                     <strong class=""><h5 class="align-items-center h-up">alto mino</h5> </strong>
   
                   </div>
                </div>

<button class="navbar-toggler mr-3" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
         </button>
       
         
         
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
           <div class="media mr-auto align-items-center ">

                       <img src="./ian-dooley-347962-1240x826.jpg" width="58" height="58" class="mr-3 rounded-circle img">
           
                           <div class="media-body text-left">
                             <strong class=""><h5 class="h55 align-items-center">alto mino</h5> </strong>
           
                           </div>
                           </div>

           <ul class="navbar-nav mr-4" id="logo">
             <li class="nav-item none">
               <a class="nav-link btn-6" href="#"><span>about</span></a>
             </li>
             <li class="nav-item none">
               <a class="nav-link btn-6" href="#"> <span>features</span>  </a>
             </li>
             <li class="nav-item none" >
               <a class='nav-link btn-6' href="" ><span>pricing</span>
                   
               </a>
               
             </li>
             <li class="nav-item none">
               <a class="nav-link btn-6" href="#" >  <span>team</span></a>
             </li>
             <li class="nav-item none">
                 <a class="nav-link btn-6" href="#"> <span>brand</span></a>
               </li>
           </ul>
           <div class="bg-color m-b none">
               <button class="butn btn-6 b-d">download app</button>
           </div>
         
         </div>
       </div>

  
</nav>

<!-- end nav -->

<!-- head -->
<div class="wrapper">
 


  <div class="cover">

      


    <!-- Blog info -->
    <div class="container">
      <div class="inner">

        <h1 class="text-white">All Your Stuff in One App</h1>
        <p>in qui brute graes virtute, euismode vertius vis ea. Quo ad brute instructior voluptatibus.
          Cu cum iudicabit accommodare.Ex simul putant adversarium has, no tacimates accusamus eum. Expetendis
          honestatis cum ea, sit ad omnes comprehensam.
        </p>
        <button class="but my">download app</button>
      </div>
    </div>

    <!-- end Blog info -->

  </div>
</div>


<!-- start content of body -->
<div class="text-center color my-5">
  <h1> Fully Featured App </h1>
  <hr class="style1">
  <p> Get Lot of features with this landing page do lot of good things </p>


 


</div>


<div class="container pad-b">


  <div class="row cardd">


    <div class="col-7 align-self-center">
      <div class="w-70">
        <h1>Build the app that everyone love</h1>
        <hr class="style2 ml-1">
        <p class="my-5">This is a wider card with supporting text below as a natural lead-in to additional content. This
          content is a little bit longer.</p>
        <button class="but">LEARN MORE<i class="fa fa-angle-right ml-1"></i>
        </button>

      </div>
    </div>

    <div class="col-5 cover1">

    </div>
  </div>



  <div class="row cardd my-5">

    <div class="col-5 cover2"></div>
    <div class="col-7 align-self-center">
      <div class="w-70 ml-5">
        <h1>User Friendly Interface,Very Easy to use</h1>
        <hr class="style2 ml-1">
        <p class="my-5">This is a wider card with supporting text below as a natural lead-in to additional content. This
          content is a little bit longer.</p>
        <button class="but">LEARN MORE<i class="fa fa-angle-right ml-1"></i>
        </button>

      </div>
    </div>




  </div>



  <div class="row cardd">


    <div class="col-7 align-self-center">
      <div class="w-70">
        <h1>Build the app that everyone love</h1>
        <hr class="style2 ml-1">
        <p class="my-5">This is a wider card with supporting text below as a natural lead-in to additional content. This
          content is a little bit longer.</p>
        <button class="but">LEARN MORE<i class="fa fa-angle-right ml-1"></i>
        </button>

      </div>
    </div>

    <div class="col-5 cover3">

    </div>
  </div>

</div>


<div class="wrapper">



  <div class="cover4">

    <div class="row h-100 text-center">
      <div class="col-sm-12 my-auto">
        <div class="w-70 mx-auto text-white">
          <h1 class="">Go deep in your business with best in class tools</h1>
          <div class="image mx-auto my-5"></div>
        </div>
       
      </div>
    </div>
  </div>
</div>
<!-- </div> -->





<div class="container">
  <div class="text-center color my-5">
    <h1> Others Featured </h1>
    <hr class="style1">

  </div>


  <div class="row">
    <div class="col-md-4 col-sm-12 col-lg-4">

      <div class="carddd mb-3 w-40">
        <div class="row no-gutters">
          <div class="col-md-4 image-1 my-auto">
         </div>
          <div class="col-md-8">
            <div class="card-body card-bodyy">
              <h5 class="card-title">Made with love</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>

            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-md-4 col-sm-12 col-lg-4">
      <div class="carddd mb-3 w-40">
        <div class="row no-gutters">
          <div class="col-md-4 image-2 my-auto">
          </div>
          <div class="col-md-8">
            <div class="card-body card-bodyy">
              <h5 class="card-title">Built in browser</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>

            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-md-4 col-sm-12 col-lg-4">

      <div class="carddd mb-3 w-40">
        <div class="row no-gutters">
          <div class="col-md-4 image-3 my-auto">
           
          </div>
          <div class="col-md-8">
            <div class="card-body card-bodyy">
              <h5 class="card-title">lots of reviews</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>





  <div class="row">
    <div class="col-md-4 col-sm-12 col-lg-4">

      <div class="carddd mb-3 w-40">
        <div class="row no-gutters">
          <div class="col-md-4 image-4 my-auto">
         </div>
          <div class="col-md-8">
            <div class="card-body card-bodyy">
              <h5 class="card-title">Made with love</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>

            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-md-4 col-sm-12 col-lg-4">
      <div class="carddd mb-3 w-40">
        <div class="row no-gutters">
          <div class="col-md-4 image-5 my-auto">
         </div>
          <div class="col-md-8">
            <div class="card-body card-bodyy">
              <h5 class="card-title">Built in browser</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>

            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-md-4 col-sm-12 col-lg-4">

      <div class="carddd mb-3 w-40">
        <div class="row no-gutters">
          <div class="col-md-4 image-6 my-auto">
         </div>
          <div class="col-md-8">
            <div class="card-body card-bodyy">
              <h5 class="card-title">lots of reviews</h5>
              <p class="card-text">This is a wider card with supporting text below
                as a natural lead-in to additional content. This content is a little bit longer.</p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="box-shado">


</div>
<div class="container">
  <div class="text-center color my-5">
    <h1> Get the App</h1>
    <hr class="style1">

  </div>



  <div class="row">
    <div class="col-md-4 col-sm-12 col-lg-4 card pad-card">

      <div class="row mx-auto shadow">

        <div class="col-5 image-7 imgf">
       </div>
        <div class="col-7 align-self-center">
          <div class="w-70">
            <h4>Google Play</h4>


          </div>
        </div>


      </div>
      <div class="mx-auto bordr"></div>
    </div>
    <div class="col-md-4 col-sm-12 col-lg-4 card pad-card">
      <div class="row mx-auto shadow">
        <div class="col-5 image-8 apple">
      </div>

        <div class="col-7 align-self-center">
          <div class="w-70">
            <h4>App Store</h4>


          </div>
        </div>


      </div>
      <div class="mx-auto bordr"></div>
    </div>
    <div class="col-md-4 col-sm-12 col-lg-4 card pad-card">

      <div class="row mx-auto shadow">



        <div class="col-5  image-9 Windows">
      </div>

        <div class="col-7 align-self-center">


          <div class="w-70">
            <h4>Windows Store</h4>


          </div>
        </div>

      </div>
      <div class="mx-auto bordr"></div>
    </div>


  </div>

  <!-- Footer -->
  <div class="card text-center my-5 card-bor">
    <div class="">
      <h4> SUBSCRIBE TO OUR NEWSLETTER </h4>
    </div>
    <div class="card-body">
      <div class="card-title">

        <div class="card-text">



          <form class="form-inline">
            <div class="form-group mx-sm-3 mb-2">

              <input type="email" class="form-control" id="inputPassword2" placeholder="Email Address:">
            </div>
            <button type="submit" class="btn btn-primary mb-2">SUBSCRIBE</button>
          </form>

        </div>

      </div>

    </div>

  </div>


</div>



<div class="card text-center card-footer bg-footer-color">
  <div class="my-5 image-10 mx-auto rounded-circle">
    
      
    <strong>
      <h5 class="align-items-center h-up my-2">alto mino</h5>
    </strong>
  </div>
  <div class="card-body p-color my-5">

    <h6 class="card-text">This is a wider card with supporting text below
      as a natural lead-in to additional content. This content is a little bit longer.</h6>

  </div>
  <div class="mx-auto bordrr"></div>

  <div class="container mx-auto">
    <div class="row my-3 text-center">
      <div class="col-lg-6">


        <!-- <div class="float-right">  mr-auto -->

        <div class="form-inline">

          <p class="colr-font">&copy; 2017-ALTO MINO.ALL RIGHTS RESERVED</p>



        </div>


        <!-- </div> -->
      </div>
      <div class="col-lg-6">


        <div class="form-inline">

          <a class="" href="#">CONTACT</a>


          <a class="" href="#">TERMS</a>

          <a class="" href="#">ABOUT</a>

          <a class="" href="#">FACEBOOK</a>

          <a class="" href="#">TWITTER</a>



        </div>

      </div>

    </div>

  </div>





</div>